<!DOCTYPE html>
<html>
<head>
  <title>PartySurfing</title>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body style="padding-top: <%= @padding_top %>;" >
  <div class="navbar <%= @navbar_style %> navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a href="<%= parties_path %>">
          <%=image_tag "logo.png", class:"img-responsive navbar-logo", alt:"Responsive image"%>
        </a>
      </div>
      <div class="nav navbar-nav navbar-right">
        <%-if user_signed_in?%>
          <span>
            <%=link_to "Профиль", current_user.profile, class: "btn btn-default navbar-btn btn-orange btn-lg btn-header" %>
            <%=link_to "Выйти", destroy_user_session_path, class: "btn btn-default navbar-btn btn-black btn-lg btn-header", method: :delete %>
          </span>
        <%-else%>
            <%=link_to "Вход", new_user_session_path, class:"btn btn-default navbar-btn btn-black btn-lg btn-header"%>
            <%=link_to "Зарегистрироваться", new_user_registration_path, class:"btn btn-default navbar-btn btn-orange btn-lg btn-header"%>
        <%-end%>
      </div>
    </div>
  </div>
  <%= yield %>
</body>
</html>
